.header {
  @apply sticky top-0 z-50;
  @apply bg-white;
  @apply py-4;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.04);

  @apply font-normal text-lg;

  &__logo {
    @apply max-h-8;

    svg {
      @apply h-full;
    }
  }

  &__links {
    @apply hidden;
    @apply lg:flex lg:items-center lg:gap-12;
    @apply transition-all;

    &.open {
      @media (max-width: 1024px) {
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.07);
        @apply bg-white;
        @apply flex flex-col items-center gap-5;
        @apply py-5;
        @apply absolute left-0 right-0 top-full;
      }
    }

    li {
      a {
        @apply relative;

        &.active {
          &::after {
            content: "";
            @apply absolute left-0 right-0 -bottom-2 mx-auto;
            @apply inline-block;
            @apply w-1 h-1;
            @apply rounded-full;
            @apply bg-black opacity-60;
          }
        }
      }
    }
  }

  &__action {
    @apply flex;
    @apply gap-1;

    span {
      @apply hidden lg:inline-flex;
    }
  }
}
