@mixin media($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $xl) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (min-width: $xxl) {
      @content;
    }
  }
}

// transition
@mixin transition($time: 0.3s) {
  transition: all $time;
}

// flexes
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center {
  @include flex-row;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-between {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-row-around {
  @include flex-row;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-col-center {
  @include flex-col;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-between {
  @include flex-col;
  align-items: center;
  justify-content: space-between;
}

// gaps
@mixin gap-quarter {
  column-gap: 0.25rem;
  row-gap: 0.25rem;
}

@mixin gap-half {
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

@mixin gap1 {
  column-gap: 1rem;
  row-gap: 1rem;
}

@mixin gap1half {
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

@mixin gap2 {
  column-gap: 2rem;
  row-gap: 2rem;
}

@mixin gap3 {
  column-gap: 3rem;
  row-gap: 3rem;
}

@mixin gap4 {
  column-gap: 4rem;
  row-gap: 4rem;
}

@mixin gap5 {
  column-gap: 5rem;
  row-gap: 5rem;
}

@mixin gap6 {
  column-gap: 6rem;
  row-gap: 6rem;
}

// typography
@mixin typography($size, $weight, $lineHeight, $color: #000) {
  font: {
    style: normal;
    size: $size;
    weight: $weight;
  }
  line-height: $lineHeight;
  color: $color !important;
}

@mixin kalameh($type: "noFaNum") {
  @if $type == "faNum" {
    font-family: kalamehFaNum;
  } @else if $type == "noFaNum" {
    font-family: kalameh;
  }
}

// image
@mixin image($radius: 16px) {
  img {
    width: 100%;
    height: 100%;
    border-radius: $radius;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    object-position: center;
  }
}

// Animatino
@mixin spin($dir: "clockwise") {
  animation: spin-animation-#{$dir} 1.5s infinite linear;
}

@keyframes spin-animation-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-animation-anticlockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@mixin shake {
  animation: shake 0.5s infinite linear;
  transform-origin: center;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@mixin up-down {
  animation: up-down 1s infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(-4px);
  }

  75% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

@mixin grow-width($time: 3s) {
  animation: grow-width $time infinite;
}

@keyframes grow-width {
  @for $i from 1 through 100 {
    #{$i * 1%} {
      width: #{$i * 1%};
    }
  }
}

@mixin pulse-white {
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@mixin pulse-primary {
  animation: pulse-primary 2s infinite;
}

@keyframes pulse-primary {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(221, 51, 51, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(221, 51, 51, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(221, 51, 51, 0);
  }
}

@mixin left-right {
  animation: left-right 1s infinite;
}

@keyframes left-right {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}
