.page {
  @apply flex flex-col;
  @apply min-h-screen;

  &__content {
    @apply grow;
    @apply flex flex-col gap-6;
    @apply py-4 lg:pt-6 px-4 xl:px-0;
    @apply container mx-auto lg:max-w-2xl;

    &__breadcrumb {
      @apply flex flex-wrap;

      li {
        @apply font-normal text-sm text-chestnut-rose;
        @apply flex items-center;

        &:not(:last-child)::after {
          content: "";
          @apply w-6 h-6;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 8L10 12L14 16' stroke='%23323232' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          @apply bg-no-repeat bg-center;
        }

        a {
          @apply text-mine-shaft underline-offset-8 transition-all;
          @apply hover:underline;
        }
      }
    }

    h1 {
      @apply text-2xl font-bold opacity-90;
      @apply lg:text-3xl;
    }

    h2 {
      @apply text-base font-bold opacity-90;
      @apply lg:text-xl;
    }

    p {
      @apply text-base leading-7 font-normal opacity-90;
    }

    a {
      @apply text-base font-normal opacity-90 text-chestnut-rose underline-offset-8;
      @apply hover:underline;
    }

    // Page specific styles - start
    .about-page {
      @apply flex flex-col gap-6 lg:gap-9;

      &__section {
        @apply flex flex-col gap-4 lg:gap-6;
      }
    }
    // Page specific styles - end

    // Contact page specific styles - start
    .contact-page {
      @apply flex flex-col gap-10;

      &__items {
        @apply -mx-4 lg:mx-0;

        li {
          @apply py-3 px-4;
          @apply text-sm lg:rounded-md;
          @apply flex justify-between;

          &:nth-child(even) {
            background: rgba(0, 0, 0, 0.04);
          }
        }
      }
    }
    // Contact page specific styles - end

    .blog-single {
      @apply flex flex-col gap-6 gap-8;
      @apply text-justify;

      img {
        @apply w-full h-auto rounded;
      }

      &__feature {
        @apply relative -mx-4 lg:mx-0;

        img {
          @apply lg:rounded;
        }

        &__box {
          @apply absolute bottom-0 left-0 right-0 bg-black bg-opacity-30;
          @apply flex justify-between px-4 py-3;
          @apply text-sm text-white;

          .liked {
            path {
              @apply transition-all;
              @apply stroke-chestnut-rose fill-chestnut-rose;
            }
          }
        }
      }
    }

    // Blog single page specific styles - start
    .blog-single-related {
      @apply flex flex-col gap-4 lg:gap-8;

      &__title {
        @apply font-bold text-lg opacity-90;
      }

      &__list {
        @apply grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-4;
      }
    }
    // Blog single page specific styles - end

    .blog {
      @apply flex flex-col gap-8 lg:gap-10;

      .input {
        @apply bg-white;
      }

      &__video {
        @apply relative;
        @apply h-64 md:h-80;

        @screen lg {
          height: 460px;
        }

        video {
          @apply w-full h-full;
          @apply bg-cover bg-center;
          @apply rounded-lg lg:rounded-2xl;

          &[poster] {
            @apply bg-cover bg-center;
            @apply object-cover object-center;
          }
        }

        &__layer {
          @apply absolute bg-black bg-opacity-20 w-full h-full inset-0;
          @apply rounded-lg lg:rounded-2xl;
          @apply flex items-center justify-center;

          &.hide {
            @apply hidden;
          }
        }
      }

      &__content {
        @apply flex flex-col gap-6;

        &__tabs {
          @apply flex justify-center;
          @apply border-b border-alto;
          @apply -mx-4 lg:mx-0;

          button {
            @apply w-full lg:w-auto;
            @apply py-3 px-5;
            @apply focus:outline-none;

            &.selected {
              @apply border-b border-red-400;
            }
          }
        }

        &__list {
          @apply flex flex-col gap-x-6 gap-y-8;
          @apply lg:grid lg:grid-cols-2 lg:gap-x-6 lg:gap-y-10;

          &__action {
            @apply col-span-2;
            @apply mt-8;
            @apply flex justify-center;
          }
        }
      }
    }
  }

  &__bg {
    @apply absolute left-0 bottom-0 -z-10;
  }
}
